<h1>Задачи</h1>

<table>
	<% @projects.each do |project| %>
			 <tr>
				 <h2><%= project.title %></h2>
			</tr>
				 <% project.todos.each do |todo| %>
			 <tr>
				 <li><%= todo.text %></li>
					 <% end %>
			</tr>
				 <% end %>
</table>
					 
<%= form_with(model: @todo, local: true) do |form| %>

  <p>
    <%= form.label :"Название задачи" %><br>
    <%= form.text_field :text %>
  </p>
 
  <p>
	<%= form.select(:project_id) do @projects.each do |c|%>
		<%= content_tag(:option, c.title, value: c.id) %>
	<% end %>
<% end %>
		
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>
